<style type="text/css">
  body {
    margin: 20px;
    background: #455a64;
  }
  .search-box {
      position: relative;
  }
  .search-box .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
      left: 15px;
      top: 0px;
  }
  .search-box .glyphicon:before {
      color: white;
      transition: all 0.2s linear;
  }
  .search-box input {
      color: #fff;
      padding-left: 60px;
      background: #546e7a;
      border:0;
      outline: none !important;
      transition: all 0.2s linear;
  }
  .search-box input:focus {
      background: #fff !important;
      outline: 0;
      color: #333;
  }
  .search-box input:focus + .glyphicon:before {
      color: #000;
  }
  .search-box input:hover {
      background: #78909c;
  }
  .search-button {
    /*padding-top: 20px;*/
  }
</style>
<%= form_tag(controller: 'application', action: 'search_results', method: 'post') do |f| %>
  <div class="search-box">
    <%= text_field_tag :tag,"", :class=>"form-control", :placeholder => 'Search Hashtags here'%>
    <br/>
    <input id="range_03" name="post_range" tabindex="-1" readonly="" value="<%= params[:post_range] if params[:post_range].present? %>">
    <br/>
  </div>
  <div class="search-button">
    <%= link_to "Change Min/Max", new_web_setting_path, class: 'btn btn-success', style: 'float: right;' %>
    <%= submit_tag "Search", class: "btn btn-warning", style: "float: right;" %>
  </div>
<% end %>
<br/>
<br/>
<br/>
<% if @hash_tags.present? %>
  <table style="color: #fff;" class="table table-horizontal" id="result">
    <thead>
      <th data-orderable="false" >Sr.</th>
      <th>Hashtag</th>
      <th>Posts</th>
    </thead>
    <tbody>
      <% @hash_tags.each_with_index do |hash_tag, index| %>
        <tr>
          <td><%= (index+1) %></td>
          <td><%= hash_tag[0] %></td>
          <td><%= hash_tag[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  datatable2 = $('#result').DataTable({
    "bFilter": false,
    "paging": false,
    "info": false
  });
  $("#range_03").ionRangeSlider({
    type: "double",
    grid: true,
    min: <%= @web_settings.post_min %>,
    max: <%= @web_settings.post_max %>,
    prefix: "Posts: "
  });
</script>